<header>
  <div id="header_container">
    <span id="logo">
      <%= link_to image_tag("logo2.png", :alt=>"Test application") , root_path %> 
    </span>  
    <span id="headertext">
    	<hgroup>
        	<h1>TEST Application</h1>
      		<h4>The best introduction into Ruby on Rails</h4>
      	</hgroup> 
    </span>  
    <div id="menu">
      
      <nav id="top-menu">
        <%= render 'layouts/menu' %>
		
      </nav>
    </div>
  </div>
</header>